<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lists</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
  <script src="../assets/js/auth.js"></script>
  <script src="../assets/js/mainLists.js"></script>
</head>

<body>
  <header class="headHome">
    <a href="menu.html">
      <img src="../assets/img/icons/logo.png" alt="L de LOGO" class="topPic" />
    </a>
    <div class="menuBar">
      <div class="dropdown">
        <span>MENU</span> <!--Menu & Options-->
        <div class="dropdown-content">
          <a id="adjustData" href="main.html">exampleUser</a> <!--Username Button-->
          <a href="reviews.html">REVIEWS</a>
          <a href="menu.html">MAIN MENU</a>
          <a href="login.html"> <!--LogOut Icon-->
            <img class="logoutIcon" src="../assets/img/icons/log_out.png" />
          </a>
        </div>
      </div>
    </div>
  </header>
  <main class="myListsMain">
    <section class="lists">
      <div class="listNames">
        <h1>
          MIS LISTAS
        </h1>
        <ul id="listas">
          <li>
            <div class="list">
              <div class="nombreList">
                NINTENDO
              </div>
              <div class="editIcon">
                <img class="rename" src="../assets/img/icons/rename.png" />
                <img class="delete" src="../assets/img/icons/delete.png" />
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div class="nombreList">
                PLAYSTATION
              </div>
              <div class="editIcon">
                <img class="rename" src="../assets/img/icons/rename.png" />
                <img class="delete" src="../assets/img/icons/delete.png" />
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div class="nombreList">
                PC
              </div>
              <div class="editIcon">
                <img class="rename" src="../assets/img/icons/rename.png" />
                <img class="delete" src="../assets/img/icons/delete.png" />
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div class="nombreList">
                FAV
              </div>
              <div class="editIcon">
                <img class="rename" src="../assets/img/icons/rename.png" />
                <img class="delete" src="../assets/img/icons/delete.png" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="listGames">
      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Call of Duty Modern Warfare II</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>

      <div class="game">
        <div class="gameCover">
          <img src="../assets/img/covers/LibraryOfRuina.png" />
        </div>
        <div class="data">
          <div class="gameData">
            <div class="gameTitle">
              <h3>Library of Ruina</h3>
            </div>
            <div class="gamePEGI">
              PEGI 18
            </div>
            <div class="gameRelease">
              Release: 10/08/2021
            </div>
          </div>
          <div class="heartIcon">
            <img class="corazon" src="../assets/img/icons/red_heart.png" />
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer grid="">
    <!--Logo goes here-->
    <p class="desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo.
    </p>
    <ul class="footerList">
      <li class="listTitle">Contacto</li>
      <li>Dirección: xxxxxxx, xxx, xxx</li>
      <li>Teléfono: +34 678 439 478</li>
      <li>Email: ejemplo@gmail.com</li>
      <li>Horario: L-V 8:00-14:25</li>
    </ul>
    <ul>
      <li class="listTitle">Enlaces útiles</li>
      <li>Inicio</li>
      <li>Servicios</li>
      <li>Acerca de nosotros</li>
    </ul>
    <div class="map">
      <p class="listTitle">Ubicacion</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.4665578500917!2d-2.9767551238415364!3d43.30449177112096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5a896ea04725%3A0x42b47eab7fd92f60!2sC.%20Tartanga%2C%204%2C%2048950%20Erandio%2C%20Vizcaya!5e0!3m2!1ses!2ses!4v1761209636743!5m2!1ses!2ses"
        width="200" height="100" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </br>
  </footer>
</body>

</html>