<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
  <script src="../assets/js/auth.js"></script>
  <script src="../assets/js/mainMenu.js"></script>
</head>

<body style="visibility: hidden;">
  <header class="headHome">
    <a href="menu.html">
      <img src="../assets/img/icons/logo.png" alt="L de LOGO" class="topPic" />
    </a>
    <div class="menuBar">
      <div class="dropdown">
        <span>MENU</span> <!--Menu & Options-->
        <div class="dropdown-content">
          <a id="adjustDataID" href="main.html">PROFILE</a> <!--Username Button-->
          <a href="lists.html">LISTAS</a>
          <a href="reviews.html">REVIEWS</a>
          <a href="#" id="logoutLink"> <!--LogOut Icon-->
            <img id="logoutIcon" class="logoutIcon" src="../assets/img/icons/log_out.png" />
          </a>
        </div>
      </div>
    </div>
  </header>
  <main class="allGamesMain">
    <section class="platform">
      <div class="platformTitle">
        PLAYSTATION
      </div>
      <section id="PLAYSTATION" class="platformGames">
      </section>
    </section>

    <section class="platform">
      <div class="platformTitle">
        NINTENDO
      </div>
      <section id="NINTENDO" class="platformGames">
      </section>
    </section>

    <section class="platform">
      <div class="platformTitle">
        XBOX
      </div>
      <section id="XBOX" class="platformGames">
      </section>
    </section>

    <section class="platform">
      <div class="platformTitle">
        PC
      </div>
      <section id="PC" class="platformGames">
      </section>
    </section>
  </main>
  <footer grid="">
    <!--Logo goes here-->
    <a href="menu.html">
      <img src="../assets/img/icons/logo.png" alt="L de LOGO" class="lowPic" />
    </a>
    <ul class="footerList">
      <li class="listTitle">Contacto</li>
      <li>Dirección: xxxxxxx, xxx, xxx</li>
      <li>Teléfono: +34 678 439 478</li>
      <li>Email: ejemplo@gmail.com</li>
      <li>Horario: L-V 8:00-14:25</li>
    </ul>
    <ul>
      <li class="listTitle">Enlaces útiles</li>
      <li>Inicio</li>
      <li>Servicios</li>
      <li>Acerca de nosotros</li>
    </ul>
    <div class="map">
      <p class="listTitle">Ubicacion</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.4665578500917!2d-2.9767551238415364!3d43.30449177112096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5a896ea04725%3A0x42b47eab7fd92f60!2sC.%20Tartanga%2C%204%2C%2048950%20Erandio%2C%20Vizcaya!5e0!3m2!1ses!2ses!4v1761209636743!5m2!1ses!2ses"
        width="200" height="100" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </br>
  </footer>
</body>

</html>